language: scala

sudo: required
dist: trusty

env:
  - DOCKER_COMPOSE_VERSION=1.21.1

services:
  - docker

scala:
  - 2.11.12
  - 2.12.10
  - 2.13.1

jdk: oraclejdk8

before_cache:
  # Tricks to avoid unnecessary cache updates
  - find $HOME/.sbt -name "*.lock" -type f -delete
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -type f -delete
  - find $HOME/.coursier/cache -name "*.lock" -type f -delete

cache:
  directories:
  - $HOME/.sbt/1.0
  - $HOME/.sbt/boot/scala*
  - $HOME/.sbt/cache
  - $HOME/.sbt/launchers
  - $HOME/.ivy2/cache
  - $HOME/.coursier

before_install:
  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin

before_script:
  - sudo service mysql stop # By default travis has a MySQL service running, turn it off to prevent conflicts
  - sudo service postgresql stop # By default travis has a Postgres service running, turn it off to prevent conflicts
  - docker-compose up -d

script:
 - sbt clean coverage test coverageReport
 - sbt -DTOKEN=test ++$TRAVIS_SCALA_VERSION "test"

after_script:
  - docker-compose down

after_success:
  - bash <(curl -s https://codecov.io/bash)
